@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@import "reset.css";
@import "status-bar.css";

body {
    font-family: "Poppins", sans-serif;
}

.welcome-header {
    margin: 90px 0px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.welcomd-header__title {
    margin-bottom: 40px;
    font-size: 25px;
    font-weight: bold;
}
.welcomd-header__text {
    width: 60%;
    opacity: 0.8;
}