.settings-list {
    margin-bottom: 25px;
    border-bottom: var(--main-border);
    padding-bottom: 25px;
}
.settings__setting {
    padding: 20px 0;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.settings__setting i {
    margin-right: 20px;
}
.settings__setting-column:last-child {
    opacity: 0.5;
    font-size: 18px;
}
.settings__setting-column {
    display: flex;
}
.settings__setting-column .badge {
    margin-left: 10px;
}