.screen-header {
    display: flex;
    justify-content: space-between;
    padding: var(--horizontal-space);
    align-items: center;
}
.screen-header__title {
    font-size: 30px;
    font-weight: 700;
}
.screen-header__icons span {
    margin-left: 20px;
}
.screen-header-chats {
    padding-bottom: 35px;
}
.comment-plus {
    position: relative;
}
.comment-plus__plus {
    position: absolute;
    bottom: 7px;
    right: 1px;
    border-radius: 10px;
    background-color: white;
    font-weight: bold;
}
.cog-point {
    position: relative;
}

.cog-point__update{
    position: absolute;
    bottom: 33px;
    left:14px;    
}

@keyframes rotateCog {
    from {
        transform: none;
    }
    to {
        transform: rotateZ(360deg);
    }
}

.screen-header__icons .fa-cog:hover {
    animation: rotateCog 2s linear infinite;
}
