.status-bar {
    display: flex;
    justify-content: center;
    padding: 10px;
    top: 0;
    width: 100%;
    box-sizing: border-box;
}
.status-bar__column {
    width: 33.3%;
}
.status-bar__column span {
    font-weight:bolder;
}
.status-bar__column:first-child span {
    margin-right: 5px;
}
.status-bar__column:nth-child(2) {
    display: flex;
    justify-content: center;
}
.status-bar__column:last-child {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding-top: 1px;
}
.status-bar__column .fa-battery-three-quarters {
    margin: 0px 5px;
}